.homepage {
  font-family: 'Rosario', sans-serif;
  color: #222;
}

.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  position: absolute;
  bottom: 80px;
  left: 50px;
  color: white;
  max-width: 400px;
  margin-bottom: 2px;
  
}

.hero-text h1 {
  font-size: 90px;
  margin-bottom: 0px;
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  margin-right : 70px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
  
}

.hero-buttons button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
}

.discover {
  background-color: white;
  border: none;
  color : black;
}

.dream {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.recommend-section {
  padding: 60px 30px;
  background-color: #fff;
  text-align: center;
  font-size: 26px;
}

.recommend-section h2 {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 5px;
  text-shadow: 0.5px 0.5px 0 currentColor;

}

.recommend-block {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.recommend-text {
  max-width: 500px;
  text-align: left;
}

.recommend-text .signup {
  margin-top: 5 px;
  padding: 5px 10px;
  border: 3px solid #004aad;
  color: #004aad;
  background: none;
  border-radius: 20px;
}

.recommend-tags {
  margin-top: 28px;
}

.tag {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.tag.blue {
  background-color: #e0f2ff;
}

.tag.orange {
  background-color: #ffe9cc;
}

.recommend-card {
  max-width: 600px;
  text-align: left;
}

.recommend-card img {
  width: 100%;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px;
  background: white;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  max-width: 280px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h4 {
  margin-top: 10px;
  font-size: 16px;
}

.for-sale {
  background-color: #0066ff;
  color: white;
  padding: 6px 14px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
}

.lifestyle {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  gap: 40px;
  align-items: center;
  color: black;
}

.middle-image {
width : 210%;
}

.lifestyle img {
  width: 100%;
  border-radius: 10px;
}

.right h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.right p {
  font-size: 24px;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}

.left h2 {

  font-size: 35px;
  margin-bottom: 10px;
}

.left p {
  font-size: 24px;
  margin-bottom: 20px;
}

.explore {
  background-color: #0078ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
}

.insights {
  background-color: #e7f4ff;
  padding: 20px 30px;
}

.insight-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insight-header h2 {
  font-size: 30px;
}

.insight-btn {
  padding: 8px 14px;
  border: 3px solid #0078ff;
  background: none;
  color: #0078ff;
  border-radius: 6px;
}

.insight-cards {
  display: flex;
  gap: 100px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.insight-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 200px;
  height : 250px;
  font-size: 17px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.insight-card img {
  width: 70px;
  height: 80px;
  margin-bottom: 20px;
}
